.container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    flex-direction: column;
    justify-content: space-between;
    margin: 300px;
    width: 200px;
    height: 300px;
}

.item {
    display: block;
    justify-content: center;
    align-self: center;
    font-size: 30px;
}

.seconditem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.thirditem {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
}